.starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; /* This prevents the stars from blocking interactions with underlying elements */
  }
  
  .star {
    width: 2px;
    height: 2px;
    background-color: #8f959a;
    position: absolute;
  }